
<div class="user-container">

  <div class="inline">

    <mat-card class="users">
      <mat-card-title>
        <h4>
          User list
        </h4>
      </mat-card-title>
      <mat-card-content>
        <div class="list" *ngFor="let user of this.userList">
          <span class="username">{{user.username}}</span>
          <span class="ban-button" >
            <a (click)="this.banUser(user)">Ban Account</a>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="inline">

    <mat-card class="banned">
      <mat-card-title>
        <h4>
          Banned user list
        </h4>
      </mat-card-title>
      <mat-card-content>
        <div class="list" *ngFor="let user of this.bannedUserList">
          <span class="username">{{user.username}} </span>
          <span class="ban-button">
            <a (click)="this.unbanUser(user)">Unban Account</a>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
