<div class="news-area">
	<mat-card *ngFor="let newsItem of this.allNews">
		<div class="container" style="top: 100px;">
			<div class="columns is-centered">
				<div class="column is-three-fifths-tablet">
					<div class="notification">
						<div class="bd-notification has-text-centered has-text-success">
							<h1 class="title"> {{ newsItem.title }} </h1>
							<span class="tag is-success"> Date </span>
							<span class="tag is-success"> {{newsItem.date  }} </span>
						</div>
						<hr>
						<div class="column is-centered content">
							<p [innerHTML]="newsItem.content"></p>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</mat-card>
</div>
<!-- <div class="news-area">
<mat-card *ngFor="let newsItem of this.allNews">
	<mat-card-header>

	<mat-card-title>
		<h2 class="display-title">
			{{ newsItem.title }}
		</h2>
		<span class="display-date">
			{{newsItem.date  }}
		</span>
	</mat-card-title>
	</mat-card-header>
	<hr>
	<mat-card-content>
		<p [innerHTML]="newsItem.content">
		</p>
	</mat-card-content>
	<hr>
</mat-card>
</div> -->