<nav class="navbar is-success">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <img src="../../assets/images/logos/PlayDecaBannerPNG_decagon.png" alt="playdeca logo" width="28" height="28">
    </a>
    <div class="navbar-burger burger" (click)="this.toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>

    </div>
    <div class="mobile-menu" *ngIf="this.mobileMenu" (click)="this.toggleMobileMenu()">
      <a class="navbar-item header-link"> Hide Menu </a>
      <a routerLink="/home" routerLinkActive="is-active" class="navbar-item header-link"> Home </a>
      <a routerLink="/info" routerLinkActive="is-active" class="navbar-item header-link"> Information </a>
      <a routerLink="/vote" routerLinkActive="is-active" class="navbar-item header-link"> Vote </a>
      <a routerLink="/forums" routerLinkActive="is-active" class="navbar-item header-link"> Forum </a>
      <a routerLink="/sign-in" *ngIf="!getSignedIn()" routerLinkActive="is-active" class="navbar-item header-link"> Sign
        In </a>
      <a routerLink="/profile/{{ this.user._id }}" *ngIf="getSignedIn()" routerLinkActive="is-active"
        class="navbar-item header-link"> Profile </a>
      <a routerLink="" *ngIf="getSignedIn()" routerLinkActive="is-active" class="navbar-item header-link"
        (click)="logout()"> Logout </a>
      <a routerLink="/donate" routerLinkActive="is-active" class="navbar-item header-link"> Donate </a>
      <a routerLink="/admin/dashboard" routerLinkActive="is-active" *ngIf="getIsAdmin()"
        class="navbar-item header-link"> Admin </a>
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-success" href="{{this.dynmapLink()}}">
              <span class="icon">
                <i class="fas fa-map"></i>
              </span>
              <span> Dynmap </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-success" href="https://discord.com/invite/4KtEsPF">
              <span class="icon">
                <i class="fab fa-discord"></i>
              </span>
              <span> Join Discord </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/home" routerLinkActive="is-active" class="navbar-item header-link"> Home </a>
      <a routerLink="/info" routerLinkActive="is-active" class="navbar-item header-link"> Information </a>
      <a routerLink="/vote" routerLinkActive="is-active" class="navbar-item header-link"> Vote </a>
      <a routerLink="/forums" routerLinkActive="is-active" class="navbar-item header-link"> Forum </a>
      <a routerLink="/sign-in" *ngIf="!getSignedIn()" routerLinkActive="is-active" class="navbar-item header-link"> Sign In </a>
      <a routerLink="/profile/{{ this.user._id }}" *ngIf="getSignedIn()" routerLinkActive="is-active" class="navbar-item header-link"> Profile </a>
      <a routerLink="" *ngIf="getSignedIn()" routerLinkActive="is-active" class="navbar-item header-link" (click)="logout()"> Logout </a>
      <a routerLink="/donate" routerLinkActive="is-active" class="navbar-item header-link"> Donate </a>
      <a routerLink="/admin/dashboard" routerLinkActive="is-active" *ngIf="getIsAdmin()" class="navbar-item header-link"> Admin </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-success" href="{{this.dynmapLink()}}">
              <span class="icon">
                <i class="fas fa-map"></i>
              </span>
              <span> Dynmap </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-success" href="https://discord.com/invite/4KtEsPF">
              <span class="icon">
                <i class="fab fa-discord"></i>
              </span>
              <span> Join Discord </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
