<div class="commentContainer" *ngFor="let comment of this.forumComments">
  <div [hidden]="isEditable(comment._id)">
    <mat-card class="comment">
      <!-- Each mat card is a reply -->
      <!-- <div class="voting inline-block">

        <div class="vote-comment">

          <div class="uparrow">
            <span> &uarr; </span>
          </div>
          <div class="vote-count">
            <span>{{comment.vote_count}}</span>
          </div>
          <div class="downarrow">
            <span> &darr; </span>
          </div>
        </div>
      </div> -->

      <div class="comment-data">

        <div class="reply-content" [innerText]="comment.content">
        </div>

        <hr>

        <div class="reply-footer">
          <div class="footer-item control-links">
            <div class="standard-footer" [hidden]="!comment.show_controls">
              <button mat-button class="header-link" (click)="toggleEdit(comment._id)">
                Edit Comment
              </button>
              <button mat-button class="header-link" (click)="deleteComment(comment._id)">
                Delete Comment
              </button>
            </div>
          </div>
          <span class="author footer-item">By
            <a href="/profile/{{comment.author}}"><span [innerText]="comment.authorname"></span></a>
            at <span>{{ comment.date_published }}</span>
          </span>
        </div>
      </div>
    </mat-card>

  </div>
  <div [hidden]="!isEditable(comment._id)">
    <mat-card class="editable-comment" [hidden]="true">
      <form class="" (ngSubmit)="editComment(commentForm, comment)" #commentForm="ngForm">
        <mat-form-field>
          <textarea matInput rows="10" name="enteredComment" #content="ngModel" required
            [(ngModel)]="comment.content"></textarea>
          <mat-error *ngIf="content.invalid">Please enter content.</mat-error>
        </mat-form-field>
        <div class="editable-footer">
          <button class="edit-button" mat-raised-button color="primary" type="submit"
            [disabled]="commentForm.form.invalid || commentButtonClicked">Submit</button>
          <button class="edit-button" mat-raised-button color="warn" (click)="toggleEdit(comment._id)">Cancel</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>