<mat-card *ngIf="this.newsPost">
    <mat-card-header>
        <mat-card-title>
            <b>Editing: </b>
            <u>
                <span [innerText]="newsPost.title"></span>
            </u>
        </mat-card-title>
    </mat-card-header>
    <form class="edit-form" (ngSubmit)="updateNewsPost(editForm)" #editForm="ngForm">
        <mat-form-field>
            <textarea matInput rows="12" name="enteredContent" [(ngModel)]="contentHtml" #content="ngModel"
                required></textarea>
            <mat-error *ngIf="content.invalid">Please enter content.</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.form.valid">Confirm Edit</button>
    </form>
</mat-card>
