<app-header></app-header>
<section class="section is-overlay">
   <div class="container" style="top: 100px;">
      <div class="columns is-centered is-variable is-1">
         <div class="column is-two-fifths">
            <div class="notification">
               <div class="notification">
                  <div class="has-text-centered is-uppercase">
                     <h1 class="title is-size-4">donator package</h1>
                  </div>
               </div>
               <div class="notification is-success">
                  <h1 class="title is-size-2 has-text-centered">$10.00</h1>
                  <h2 class="subtitle has-text-centered is-size-7 is-capitalized">lifetime duration *</h2>
               </div>
               <div class="notification">
                  <h1 class="subtitle is-size-6 has-text-centered has-text-weight-bold">Ability to fly</h1>
               </div>
               <div class="notification">
                  <h1 class="subtitle is-size-6 has-text-centered has-text-weight-bold">God Mode</h1>
               </div>
               <div class="notification">
                  <h1 class="subtitle is-size-6 has-text-centered has-text-weight-bold">Disguise</h1>
               </div>
               <div class="notification">
                  <h1 class="subtitle is-size-6 has-text-centered has-text-weight-bold">Teleport Signs</h1>
               </div>
               <div class="notification">
                  <h1 class="subtitle is-size-6 has-text-centered has-text-weight-bold">Editable Tag</h1>
               </div>
               <a class="button is-rounded is-success has-text-white is-large is-fullwidth"
                  href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=monster_what%40hotmail.com&item_name=Maintaining+the+Community+%2815%24%29&currency_code=USD&amount=15&source=url">  Donate
               </a>
            </div>
         </div>
         <div class="column is-two-fifths">
            <div class="notification">
               <div class="notification">
                  <div class="has-text-centered is-uppercase">
                     <h1 class="title is-size-4">supporter package</h1>
                  </div>
               </div>
               <div class="notification has-background-primary-dark has-text-white">
                  <h1 class="title is-size-2 has-text-centered">$5.00</h1>
                  <h2 class="subtitle has-text-centered is-size-7 is-capitalized">Requires Donator Rank | Lasts 1 Month *</h2>
               </div>
               <div class="notification">
                  <h1 class="subtitle is-size-6 has-text-centered has-text-weight-bold">Inherits All Donor Commands</h1>
               </div>
               <div class="notification">
                  <h1 class="subtitle is-size-6 has-text-centered has-text-weight-bold">Creative Mode</h1>
               </div>
               <div class="notification">
                  <h1 class="subtitle is-size-6 has-text-centered has-text-weight-bold">Unlimited Teleport Signs</h1>
               </div>
               <div class="notification">
                  <h1 class="subtitle is-size-6 has-text-centered has-text-weight-bold">Other Features</h1>
               </div>
               <div class="notification">
                  <h1 class="subtitle is-size-6 has-text-centered has-text-weight-bold"><br></h1>
               </div>
               <a class="button is-rounded has-background-primary-dark has-text-white is-large is-fullwidth"
                  href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=monster_what%40hotmail.com&item_name=Maintaining+the+Community+%285%24%29&currency_code=USD&amount=5&source=url"> Donate
               </a>
            </div>
         </div>
      </div>
   </div>
   <!-- <div>
      *Subject to be revoked if server rules are broken, no refunds will be given if you have used any of the features.
     </div> -->
</section>
