<!-- This is going to host mostly other applications' information and its own commands -->
<div class="container">

  <div class="row">

    <div class="inline">
      <mat-card>
        <a href="/admin/user-handling">
          <h2>
            User Bans
          </h2>
        </a>
      </mat-card>
    </div>
    <div class="inline">
      <mat-card>
        <a href="/admin/create-news">
          <h2>
            Create News
          </h2>
        </a>
      </mat-card>
    </div>
    <div class="inline">
      <mat-card>
        <a href="/admin/news-list">
          <h2>
            Edit News
          </h2>
        </a>
      </mat-card>
    </div>
  </div>

</div>