<!-- We want this to essentially be the forum they filled with the original title. -->
<app-header></app-header>

<mat-card *ngIf="forumPost">
  <mat-card-header>
    <mat-card-title>
      <b>Editing: </b>
      <u>
        <span [innerText]="forumPost.title"></span>
      </u> by
      <em>
        <span [innerText]="forumPost.authorname"></span>
      </em>
    </mat-card-title>
  </mat-card-header>
  <form class="edit-form" (ngSubmit)="publishNewInformation(editForm)" #editForm="ngForm">
    <mat-form-field>
      <textarea matInput rows="12" name="enteredContent" [(ngModel)]="contentHtml" #content="ngModel"
        required></textarea>
      <mat-error *ngIf="content.invalid">Please enter content.</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.form.valid">Confirm Edit</button>
  </form>
</mat-card>